

body {
    background-color: darksalmon;
    color: rebeccapurple;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}